.App {
    /*text-align: center;*/
}

.App-header {
    background-color: #4FC3F7;
    height: 48px;
    /*padding: 20px;*/
    color: white;
}

.App-header h1 {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 32px;
    /*margin-top: 20px;*/
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 8px;
}

.App-header > div {
    display: inline-block;
    position: relative;
    top: -4px;
    margin-left: 128px;
    line-height: 32px;
}

.App-header > div > div > svg {
    position: relative;
    top: 8px;
}

.App-header > div > div > div {
    margin-left: 8px;
}

.container {
    /*margin-top: -120px;*/
    z-index: 5;
}

.map-container {
    padding: 0;
}

.trophy-0 {
    color: gold;
}

.trophy-1 {
    color: silver;
}

.trophy-2 {
    color: #cd7f32;
}

.card {
    margin-top: 16px;
}

.card-title {
    padding: 16px 16px 0 16px !important;
}

.card-text {
    padding: 0 !important;
}

.sidebar {
    overflow: scroll;
}
